{
  "Servers": {
    "1": {
      "Name": "${DB_HOST}",
      "Group": "Servers",
      "Host": "${DB_HOST}",
      "Port": "${DB_PORT}",
      "MaintenanceDB": "${DB_NAME}",
      "Username": "${DB_USERNAME}",
      "SSLMode": "prefer"
    },
    "2": {
      "Name": "${DB_HOST_TEST}",
      "Group": "Servers",
      "Host": "${DB_HOST_TEST}",
      "Port": "${DB_PORT}",
      "MaintenanceDB": "${DB_NAME}",
      "Username": "${DB_USERNAME}",
      "SSLMode": "prefer"
    }
  }
}
